body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: #121212;
    background-color: #fff;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    padding-top: 20px;
    text-align: center;
}

h2 {
    padding-top: 15px;
    text-align: center;
}

#item-list {
    margin-top: 20px;
}

.item {
    border: 1px solid #363636;
    padding: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    background-color: #bebebe;
    border-radius: 5px;
}

.item-name {
    font-weight: bold;
}

.item-amount {
    color: #2e2e2e;
}

#add-item-btn {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: fixed;
    margin-top: -120px;
    right: 20px;
    color: #444;
    background-color: #bdbdbd;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
}

#help-item-btn {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: fixed;
    margin-top: -120px;
    left: 20px;
    color: #444;
    background-color: #bdbdbd;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
}

#account-item-btn {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: #444;
    background-color: #bdbdbd;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
}

#color-item-btn {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #444;
    background-color: #bdbdbd;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
}

#import-list-btn {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: #aaa;
    color: #000000;
    font-size: 17px;
    border-radius: 10px;
}

#save-list-btn {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: #000000;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    background-color: #aaa;
}

.modal {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: #aaa;
    color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: #121212;
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

#add-item-form label,
#add-item-form button {
    padding-top: 10px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    display: block;
    width: 100%;
    padding-bottom: 3px;
}

#add-item-form input {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    color: #222;
    background-color: #fff;
}

#add-item-form button {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    color: #444;
    background-color: #fff;
    cursor: pointer;
}

#add-item-form button:hover {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: #949494;
}

.close-btn {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: #5c5c5c;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: #504f4f;
    text-decoration: none;
    cursor: pointer;
}

.remove-btn {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: #444;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-btn:hover {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: #a3a3a3;
}